In [0]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import xml
import numpy as np
from geopy.geocoders import Nominatim
import folium
from pandas.io.json import json_normalize

In [0]:
url = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
data = BeautifulSoup(url,'lxml')

In [3]:
table_post = data.find('table')
fields = table_post.find_all('td')

postcode = []
borough = []
neighbourhood = []

for i in range(0, len(fields), 3):
    postcode.append(fields[i].text.strip())
    borough.append(fields[i+1].text.strip())
    neighbourhood.append(fields[i+2].text.strip())
        
df = pd.DataFrame(data=[postcode, borough, neighbourhood]).transpose()
df.columns = ['Postcode', 'Borough', 'Neighbourhood']
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [4]:
df['Borough'].replace('Not assigned', np.nan, inplace=True)
df.dropna(subset=['Borough'], inplace=True)

df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [0]:
df = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(', '.join).reset_index()
df.columns = ['Postcode', 'Borough', 'Neighbourhood']

## **Shape of the processed dataset is :**

In [6]:
df.shape

(103, 3)

In [0]:
df_map = pd.read_csv('http://cocl.us/Geospatial_data')
df_map.columns = ['Postcode', 'Latitude', 'Longitude']

# **Merging of the datset :**

In [8]:
df_pos = pd.merge(df, df_map, on=['Postcode'], how='inner')
df_tor = df_pos[['Borough', 'Neighbourhood', 'Postcode', 'Latitude', 'Longitude']].copy()
df_tor.head()

       Borough                           Neighbourhood  ...   Latitude  Longitude
0  Scarborough                          Rouge, Malvern  ...  43.806686 -79.194353
1  Scarborough  Highland Creek, Rouge Hill, Port Union  ...  43.784535 -79.160497
2  Scarborough       Guildwood, Morningside, West Hill  ...  43.763573 -79.188711
3  Scarborough                                  Woburn  ...  43.770992 -79.216917
4  Scarborough                               Cedarbrae  ...  43.773136 -79.239476

[5 rows x 5 columns]

In [0]:

CLIENT_ID = 'PKUBRWSSPLITXYYXRFRJXQSGMXFSRPT3U4URXUIOERVUGD24'
CLIENT_SECRET = 'FYF0N54CK24BHBTKMQZBK0SJRHWPKYZYNVIIIQYSKGSDGHD2' 
VERSION = '20180604'

In [12]:
address = 'Toronto, Canada'

geolocator = Nominatim()
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of the City of Toronto are {}, {}.'.format(latitude, longitude))

/usr/local/lib/python3.6/dist-packages/geopy/geocoders/osm.py:143: UserWarning: Using Nominatim with the default "geopy/1.17.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  UserWarning

The geograpical coordinate of the City of Toronto are 43.653963, -79.387207.

In [0]:
df_t = df_tor[df_tor['Borough'].str.contains('Toronto')]
to_data = df_t.reset_index(drop=True)

In [15]:
to_data.loc[0, 'Neighbourhood']

'The Beaches'

# **Neighbourhood Analytic**

In [16]:
neighbourhood_latitude = to_data.loc[0, 'Latitude'] # neighbourhood latitude value
neighbourhood_longitude = to_data.loc[0, 'Longitude'] # neighbourhood longitude value

neighbourhood_name = to_data.loc[0, 'Neighbourhood'] # neighbourhood name

print('Latitude and longitude values of {} are {}, {}.'.format(neighbourhood_name, 
                                                               neighbourhood_latitude, 
                                                               neighbourhood_longitude))

Latitude and longitude values of The Beaches are 43.67635739999999, -79.2930312.

In [17]:
LIMIT = 100
radius = 500

url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    neighbourhood_latitude, 
    neighbourhood_longitude, 
    radius, 
    LIMIT)
url

'https://api.foursquare.com/v2/venues/explore?&client_id=PKUBRWSSPLITXYYXRFRJXQSGMXFSRPT3U4URXUIOERVUGD24&client_secret=FYF0N54CK24BHBTKMQZBK0SJRHWPKYZYNVIIIQYSKGSDGHD2&v=20180604&ll=43.67635739999999,-79.2930312&radius=500&limit=100'

In [0]:
results = requests.get(url).json() #storing results from foursquare

In [0]:
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [23]:
venues = results['response']['groups'][0]['items']
nearby_venues = json_normalize(venues)
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues =nearby_venues.loc[:, filtered_columns]
nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)
nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]
nearby_venues.head()

                                 name         categories        lat        lng
0                   Glen Manor Ravine              Trail  43.676821 -79.293942
1  The Big Carrot Natural Food Market  Health Food Store  43.678879 -79.297734
2                 Grover Pub and Grub                Pub  43.679181 -79.297215
3                       Upper Beaches       Neighborhood  43.680563 -79.292869