In [0]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import xml
import numpy as np
from geopy.geocoders import Nominatim
import folium
from pandas.io.json import json_normalize

In [0]:
url = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
data = BeautifulSoup(url,'lxml')

In [3]:
table_post = data.find('table')
fields = table_post.find_all('td')

postcode = []
borough = []
neighbourhood = []

for i in range(0, len(fields), 3):
    postcode.append(fields[i].text.strip())
    borough.append(fields[i+1].text.strip())
    neighbourhood.append(fields[i+2].text.strip())
        
df = pd.DataFrame(data=[postcode, borough, neighbourhood]).transpose()
df.columns = ['Postcode', 'Borough', 'Neighbourhood']
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [4]:
df['Borough'].replace('Not assigned', np.nan, inplace=True)
df.dropna(subset=['Borough'], inplace=True)

df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [0]:
df = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(', '.join).reset_index()
df.columns = ['Postcode', 'Borough', 'Neighbourhood']

## **Shape of the processed dataset is :**

In [6]:
df.shape

(103, 3)

In [0]:
df_map = pd.read_csv('http://cocl.us/Geospatial_data')
df_map.columns = ['Postcode', 'Latitude', 'Longitude']

# **Merging of the datset :**

In [8]:
df_pos = pd.merge(df, df_map, on=['Postcode'], how='inner')
df_tor = df_pos[['Borough', 'Neighbourhood', 'Postcode', 'Latitude', 'Longitude']].copy()
df_tor.head()

       Borough                           Neighbourhood  ...   Latitude  Longitude
0  Scarborough                          Rouge, Malvern  ...  43.806686 -79.194353
1  Scarborough  Highland Creek, Rouge Hill, Port Union  ...  43.784535 -79.160497
2  Scarborough       Guildwood, Morningside, West Hill  ...  43.763573 -79.188711
3  Scarborough                                  Woburn  ...  43.770992 -79.216917
4  Scarborough                               Cedarbrae  ...  43.773136 -79.239476

[5 rows x 5 columns]